.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: unset;
}

.header {
  font-size: 30px;
  line-height: 45px;
  font-weight: unset;
  max-width: 260px;
}

.mainIcon {
  width: 83px;
  height: 83px;
  margin: 20px;
}

.headerContainer {
  display: flex;
}

.mainContainer {
  width: 600px;
  margin-left: 55px;
}

.subheader {
  font-size: 21px;
  line-height: 28px;
  font-weight: unset;
}

.infoRow {
  display: flex;
}
